html,
body,
:root {
  height: 100%;;
}

.body {
  overflow: hidden;
}

.curlyGridBox {
  position: relative;
  border: none;
  border-radius: 0% 8% 8% 100% / 0% 50% 50% 0%;
}

.curlyGridBox:not(:nth-child(4n)) {
  border-right: 1px solid #FFFFFF99;
  ; /* Set border-right to transparent to allow the radial gradient pattern to show */
}

/* Elimina el borde inferior del elemento en el medio de cada fila */
.curlyGridBox:nth-child(4n - 1),
.curlyGridBox:nth-child(4n - 2),
.curlyGridBox:nth-child(4n - 3),
.curlyGridBox:nth-child(4n - 4) {
  border-bottom: none;
}